.container_entry {
    width: 500px;
    height: 300px;
    left: 100px;
    border: 1px solid gray;
    

}

.container_form_login {
    height: 40px;
    background: rgb(0, 110, 255);
}

.container_form {
padding-top: 120px;
display: flex;
justify-content: center;
}

.input1 {
    /* padding-top: 100px; */
}